- project_id = current_page.url.gsub('/', '').gsub('my-writing', '').underscore
- project = data.writing_examples["#{project_id}"]
- next_example = data.writing_examples["#{project_id}"]

%section.container

  %div.section.container.container--medium
    %h2.text-center= project.intro
    %h3.h5.uppercase.h--seporator.margin-bottom-60
    - project.content.each do |paragraph|
      %p.p--intro.text-center
        %em= paragraph

    %h3.h5.uppercase.h--seporator

    %div.container.container--medium
      %blockquote.section.quote
        %p= project.quote
        %cite
          —
          = "#{project.quote_by}, #{project.client}"

    %h3.h5.uppercase.h--seporator

    %section.section.container
      %div.span-2
        = link_to project.next_example.name, "/my-writing/#{project.next_example.slug}", class: 'btn btn--primary btn--full btn--icon icon--right'
      %div.span-10.details.meta-details
        %strong= project.next_example.name
        %em= project.next_example.title
