- project_id = current_page.url.gsub('/', '').gsub('case-studies', '').underscore
- project = data.case_studies["#{project_id}"]

%section.container
  
  %div.section.container.container--small
    = image_tag 'case-studies/archively/logo.png', width: 400, class: 'margin-auto'

  %div.section.container.container--medium
    %h2.text-center Streamlining for public release
    %p.p--intro.text-center
      Archively simplifies research. For organising, collecting and sharing research about people.
    %div.container.container--vsmall
      %p Archively came to us with an onboarding process and user interface that really needed some love. They were still in the early stages of development and wanted help getting their product ready to release to the public.
      %p We started from scratch, analysing Archively's collected data from their various user groups and research, and set about planning how it would all come together in the final product.
  %div.section

  %div.section.container.container--medium.margin-bottom-60
    %h2.text-center Simple yet beautiful
    %p.p--intro.text-center
      We wanted to design something beautiful, simple and effective but we also needed it to be ready to launch yesterday.
    %div.container.container--vsmall
      %p Researching the target audience and competitors, we came up with a colour pallet that worked beautifully and complimented the simple interface design. We focused hard on keeping everything intuitive, making sure the interface became an enjoyable experience, whilst keeping the brand personality intact and allowing it the ability to evolve over time.

  %section.section.text-center
    %h3.h5.uppercase.h--seporator
      %span Colors
    %div.section.padding-top-none.flexbox.flexbox--justify
      %span.case-study__color{style: "background-color: #5782b7"}
      %span.case-study__color{style: "background-color: #89bd3d"}
      %span.case-study__color{style: "background-color: #888888"}
      %span.case-study__color{style: "background-color: #e5e5e5"}
      %span.case-study__color{style: "background-color: #ffffff"}
  %hr.section

  %div.section.container.container--medium
    %h2.text-center Reimagining the bookmarklet
    %p.p--intro.text-center
      The Bookmarklet is the epicenter of Archively, with the ability to capture user data from any page and automatically build itself into a user profile.
    %div.container.container--vsmall
      %p Getting data into Archively was key to the functionality and business model, but as it stood the bookmarklet tool was a slow and painful process to use. We worked on minimising and streamlining the user experience of the bookmarklet, which resulting in users being able to capture data at much faster rate.
  = image_tag 'case-studies/archively/bookmarklet.png', width: 871, class: 'margin-auto section'
  %div.section



%section.section.padding-bottom-none.margin-bottom-60.overflow-hidden
  %div.container.container--large
    %div.section.container.container--medium
      %h2.text-center The Archively application
      %p.p--intro.text-center Clean, functional and simple to use on all devices.
      %div.container.container--vsmall
        %p With data capture being the forefront of Archively, we worked on creating a responsive front-end that focused on data capture and review.

    %div.container.container--browsers
      %div.section.padding-bottom-none.relative
        %div.browser.browser--full.browser--width-900
          = image_tag 'case-studies/archively/main.jpg', width: 900
        %div.browser.browser--full.browser--iphone.browser--iphone-right.browser--iphone-bottom
          = image_tag 'case-studies/archively/main-mobile.jpg', width: 320
  %div.container.container--large.separator-bottom.relative

%section.section.padding-bottom-none.margin-bottom-60.overflow-hidden
  %div.container
    %div.section.container.container--medium
      %h2.text-center Marketing site
      %p.p--intro.text-center Archively wanted to convey it's product to potential users and draw their interest, while they ran their closed beta testing.
      %div.container.container--vsmall
        %p Finally, we created a simple marketing site for interested parties, allowing them to request access ready for public release.
    %div.container.container--browsers
      %div.section.padding-bottom-none.relative
        %div.browser.browser--full
          = image_tag 'case-studies/archively/landing.jpg', width: 900
  %div.container.container--large.separator-bottom.relative