- project_id = current_page.url.gsub('/', '').gsub('case-studies', '').underscore
- project = data.case_studies["#{project_id}"]

%section.container
  
  %div.section.container.container--small
    = image_tag 'case-studies/ghost/logo.svg', width: 330, class: 'margin-auto'

  %div.section.container.container--medium
    %h2.text-center Just a $350,000 Kickstarted opensource blogging platform
    %p.p--intro.text-center
      Back in 2012, David and James were sat on John’s balcony discussing an idea John had. An idea called Ghost.
    %div.container.container--vsmall
      %p Fast forward to 2013 where John flies to the UK to visit us, asking us to collaborate with him on the first-pass of the Ghost marketing site. We helped produce wireframes, designs and the application front-end development, which made Simple as Milk the second ever contributors to the Ghost blogging platform. We have since contributed to Ghost on a number of occasions, assisting them in the development of the application. Our skills lie heavily within solving their Ember.JS issues.

  %section.section.text-center
    %h3.h5.uppercase.h--seporator
      %span A quote from the client themselves
    %div.container.container--medium
      %blockquote.section.quote
        %p= project.quote
        %cite 
          — 
          = "#{project.quote_by}, #{project.client}"

  %hr

  %div.section.container.container--medium
    %h2.text-center Branding
    %p.p--intro.text-center
      This was very easy. John had already designed his first pass at the applications user interface and for consistency we carried this across to the site design. We worked together to improve the typography and overall feel.

  %section.section.text-center
    %h3.h5.uppercase.h--seporator
      %span Colors
    %div.section.padding-top-none.flexbox.flexbox--justify
      %span.case-study__color{style: "background-color: #2e88e8"}
      %span.case-study__color{style: "background-color: #9ec248"}
      %span.case-study__color{style: "background-color: #e25440"}
      %span.case-study__color{style: "background-color: #7d8789"}
      %span.case-study__color{style: "background-color: #ecece4"}
      
  %section.section
    %h3.h5.uppercase.h--seporator.text-center
      %span Typography choices
    %div.section.padding-top-none
      = image_tag 'case-studies/ghost/typography2.png', width: 1040
      %h6 Chosen due to it's lightweight and clean appearance

  %section.section.text-center
    %h3.h5.uppercase.h--seporator
      %span Ghost site wireframes, old school style

    %section.section.padding-top-none
      %div.section.margin-auto
        %div
          = image_tag 'case-studies/ghost/whiteboard.jpg', width: 500

  %hr

%section.section.padding-bottom-none.margin-bottom-60.overflow-hidden
  %div.container
    %div.container.container--medium
      %h2.text-center The final concept that John then tweaked into the final product 

    %div.container.container--browsers
      %div.section.padding-bottom-none.relative
        %div.browser.browser--full
          = image_tag 'case-studies/ghost/main.jpg', width: 900
  %div.container.container--large.separator-bottom.relative