- project_id = current_page.url.gsub('/', '').gsub('case-studies', '').underscore
- project = data.case_studies["#{project_id}"]

%section.container
  
  %div.section.container.container--small
    = image_tag 'case-studies/insurance-by-jack/mascot.png', width: 330, class: 'margin-auto'

  %div.section.container.container--medium
    %h2.text-center Insurance by Jack are no typical insurance company
    %p.p--intro.text-center
      They offer business insurance but with strong, traditional family values. They are family-run and even named after a family member.
    %div.container.container--vsmall
      %p They wanted to show that they bring customer service back into insurance. We helped them to craft their brand and produce their MVP marketing site, bringing to life their impressive insurance mission.
      %div.section.text-center
        %a.btn.btn--primary{href: "http://insurancebyjack.co.uk/"} Visit insurancebyjack.co.uk

  %section.section.text-center
    %h3.h5.uppercase.h--seporator
      %span A quote from the client themselves
    %div.container.container--medium
      %blockquote.section.quote
        %p= project.quote
        %cite 
          — 
          = "#{project.quote_by}, #{project.client}"

  %hr

  %div.section.container.container--medium
    %h2.text-center Branding
    %p.p--intro.text-center
      Jack's brand had to represent it's values. Family orientated Insurance by real humans.
    %div.container.container--vsmall
      %p Since the company is named ‘Insurance by Jack’, we wanted to portray a design that felt like it was Jack who was talking directly to the audience. We wanted to make it welcoming, we wanted it to feel safe and we wanted the reader to feel well looked after. Just like Jack’s insurance does. This lead to our idea of a lighthouse/our nautical theme. A lighthouse guides sailors to safety and illustrates protection
      %p Coincidentally, Jack (who the company is named after) is an avid fan of the sea and so this later spawned the concept for ‘Jack the mascot’ himself.

  %section.section.text-center
    %h3.h5.uppercase.h--seporator
      %span The logo and mascot
    %div.section.padding-top-none
      = image_tag 'case-studies/insurance-by-jack/logo.svg', height: 250
      = image_tag 'case-studies/insurance-by-jack/mascot.png', height: 250

  %section.section.text-center
    %h3.h5.uppercase.h--seporator
      %span Colors
    %div.section.padding-top-none.flexbox.flexbox--justify
      %span.case-study__color{style: "background-color: #FF6600"}
      %span.case-study__color{style: "background-color: #2D9AB9"}
      %span.case-study__color{style: "background-color: #D5E8EE"}
      %span.case-study__color{style: "background-color: #F2F2F2"}
      %span.case-study__color{style: "background-color: #0F0F0F"}
      
  %section.section
    %h3.h5.uppercase.h--seporator.text-center
      %span Typography choices
    %div.section.padding-top-none
      = image_tag 'case-studies/insurance-by-jack/typography1.png', width: 700
      %h6 Chosen for it's classic nature and advertorial feel
    %div.section
      = image_tag 'case-studies/insurance-by-jack/typography2.png', width: 700
      %h6 Gotham Rounded drags this 70's inspired design into the modern era


  %section.section.text-center
    %h3.h5.uppercase.h--seporator
      %span Illustrations

    %section.section.padding-top-none
      %div.section.flexbox.flexbox--justify
        %div
          = image_tag 'case-studies/insurance-by-jack/telescope.png', width: 170
        %div
          = image_tag 'case-studies/insurance-by-jack/wheel.png', width: 170
        %div
          = image_tag 'case-studies/insurance-by-jack/compass.png', width: 170
        %div
          = image_tag 'case-studies/insurance-by-jack/speed.png', width: 170
        %div
          = image_tag 'case-studies/insurance-by-jack/hat.png', width: 170

  %hr

%section.section.padding-bottom-none.margin-bottom-60.overflow-hidden
  %div.container
    %div.container.container--medium
      %h2.text-center The final result 

    %div.container.container--browsers
      %div.section.padding-bottom-none.relative
        %div.browser.browser--full
          = image_tag 'case-studies/insurance-by-jack/homepage.jpg', width: 900
  %div.container.container--large.separator-bottom.relative