- project_id = current_page.url.gsub('/', '').gsub('case-studies', '').underscore
- project = data.case_studies["#{project_id}"]

%section.container
  
  %div.section.container.container--small
    = image_tag 'case-studies/profitero/logo.svg', width: 500, class: 'margin-auto'

  %div.section.container.container--medium
    %h2.text-center Profitero came to us in drastic need of a new image, a new brand
    %p.p--intro.text-center
      They wanted to re-think their brand and site, to take them to the next level and to better compete with their competition who had started rolling out their own re-designs.
    %div.container.container--vsmall
      %p They have a great product, they just needed to communicate that with a new look that would help them grow their business and take their company into the next era.
      %div.section.text-center
        %a.btn.btn--primary{href: "http://profitero.com/"} Visit profitero.com

  %hr

  %div.section.container.container--medium
    %h2.text-center Branding
    %p.p--intro.text-center
      We were tasked with re-imagining the Profitero brand to better target their audience and represent their company. We took this new brand and applied it across their social media, print collateral, marketing site and blog.

  %section.section.text-center
    %h3.h5.uppercase.h--seporator
      %span Logo development
    %div.section.padding-top-none.flexbox.flexbox--justify
      %div
        = image_tag 'case-studies/profitero/mark5.png', width: 160, height: 160, class: 'rounded'
      %div
        = image_tag 'case-studies/profitero/mark4.png', width: 160, height: 160, class: 'rounded'
      %div
        = image_tag 'case-studies/profitero/mark7.png', width: 160, height: 160, class: 'rounded'
      %div
        = image_tag 'case-studies/profitero/mark1.png', width: 160, height: 160, class: 'rounded'
      %div
        = image_tag 'case-studies/profitero/mark6.png', width: 160, height: 160, class: 'rounded'

  %section.section.text-center
    %h3.h5.uppercase.h--seporator
      %span Colors
    %div.section.padding-top-none.flexbox.flexbox--justify
      %span.case-study__color{style: "background-color: #fd002e"}
      %span.case-study__color{style: "background-color: #0080e7"}
      %span.case-study__color{style: "background-color: #303a46"}
      %span.case-study__color{style: "background-color: #e8e9ed"}
      %span.case-study__color{style: "background-color: #ffffff"}
      
  %section.section
    %h3.h5.uppercase.h--seporator.text-center
      %span Typography choices
    %div.section.padding-top-none
      = image_tag 'case-studies/profitero/typography.png', width: 700
      %h6 Chosen for it's subtle beauty and readability


  %section.section.text-center
    %h3.h5.uppercase.h--seporator
      %span Illustrations

    %section.section.padding-top-none
      %div.section.flexbox.flexbox--justify
        %div
          = image_tag 'case-studies/profitero/illy5.png', width: 170
        %div
          = image_tag 'case-studies/profitero/illy2.png', width: 170
        %div
          = image_tag 'case-studies/profitero/illy3.png', width: 170
        %div
          = image_tag 'case-studies/profitero/illy6.png', width: 170

  %hr

%section.section.padding-bottom-none.margin-bottom-60.overflow-hidden
  %div.container
    %div.container.container--medium
      %h2.text-center The first concept

    %div.container.container--browsers
      %div.section.padding-bottom-none.relative
        %div.browser.browser--full
          = image_tag 'case-studies/profitero/original-concept.jpg', width: 900
  %div.container.container--large.separator-bottom.relative

%section.section.padding-bottom-none.margin-bottom-60.overflow-hidden
  %div.container
    %div.container.container--medium
      %h2.text-center The final result 

    %div.container.container--browsers
      %div.section.padding-bottom-none.relative
        %div.browser.browser--full
          = image_tag 'case-studies/profitero/main.jpg', width: 900
  %div.container.container--large.separator-bottom.relative