- project_id = current_page.url.gsub('/', '').gsub('case-studies', '').underscore
- project = data.case_studies["#{project_id}"]

%section.container
  
  %div.section.container.container--small
    = image_tag 'case-studies/tag-your-shoes/logo.svg', width: 350, class: 'margin-auto'

  %div.section.container.container--medium
    %h2.text-center Taking hashtags to a new level
    %p.p--intro.text-center
      Our friends over at Moero needed some extra manpower to design the new site for Tag Your Shoes. Tag Your Shoes is a new shoe brand that has an interesting take on social influence, as well a strong and positive message. 
    %div.container.container--vsmall
      %p They required an ecommerce store that would be styled to match both their personality and their products.
      %p Striving for something different than the usual ecommerce site, this brand takes social to a new level, setting us a challenge and giving users something to fall in love with. We worked closely with Moero and the Tag Your Shoes team to make sure their site was not only beautiful, but effective.
      %p Because social media is such a huge part of the Tag Your Shoes mission, we integrated a lot of social aspects into the design, such as creating hashtags for extra product reach. We wanted to help spread their good values through their customers, so we made it as easy as possible. 

  %section.section.text-center
    %h3.h5.uppercase.h--seporator
      %span A quote from the client themselves
    %div.container.container--medium
      %blockquote.section.quote
        %p= project.quote
        %cite 
          — 
          = "#{project.quote_by}, #{project.client}"

  %hr

  %div.section.container.container--medium
    %h2.text-center Branding
    %p.p--intro.text-center
      Letting the products speak for themselves whilst portraying personality isn't easy.
    %div.container.container--vsmall
      %p The colours were chosen because they work seamlessly with the shoe material, colours and design. And we developed a store design that incorporated their message of saving the world with an earthy tone.

  %section.section.text-center
    %h3.h5.uppercase.h--seporator
      %span Colors
    %div.section.padding-top-none.flexbox.flexbox--justify
      %span.case-study__color{style: "background-color: #E8C35B"}
      %span.case-study__color{style: "background-color: #F0535A"}
      %span.case-study__color{style: "background-color: #E7D7BB"}
      %span.case-study__color{style: "background-color: #F4F4F4"}
      %span.case-study__color{style: "background-color: #323232"}
      
  %section.section
    %h3.h5.uppercase.h--seporator.text-center
      %span Typography choices
    %div.section.padding-top-none
      = image_tag 'case-studies/tag-your-shoes/typography.png', width: 700
      %h6 Chosen for it's rounded yet clean appearance

  %hr

%section.section.padding-bottom-none.margin-bottom-60.overflow-hidden
  %div.container
    %div.container.container--medium
      %h2.text-center The final result

    %div.container.container--browsers
      %div.section.padding-bottom-none.relative
        %div.browser.browser--full
          = image_tag 'case-studies/tag-your-shoes/main.jpg', width: 900
  %div.container.container--large.separator-bottom.relative

%section.section.padding-bottom-none.margin-bottom-60.overflow-hidden
  %div.container
    %div.container.container--medium
      %h2.text-center The product page

    %div.container.container--browsers
      %div.section.padding-bottom-none.relative
        %div.browser.browser--full
          = image_tag 'case-studies/tag-your-shoes/product.jpg', width: 900
  %div.container.container--large.separator-bottom.relative

%section.section.padding-bottom-none.margin-bottom-60.overflow-hidden
  %div.container
    %div.container.container--medium
      %h2.text-center An unused concept

    %div.container.container--browsers
      %div.section.padding-bottom-none.relative
        %div.browser.browser--full
          = image_tag 'case-studies/tag-your-shoes/concept.jpg', width: 900
  %div.container.container--large.separator-bottom.relative