---
title: Simple as Milk's work
description: We love what we do, and that passion shows through our work.
---

%section.hero
  %div.fixed--bottom
    %div.section.container.padding-bottom-none
      %h1 See how our process turns into reality

      %div.section.separator-top

        %p.p--intro We’re renegades who are proud to be award-nominated and involved with many incredible clients. We love what we do, and that passion shows through our work.

        %div.container
          %div.span-5
            %a.btn.btn--primary.btn--icon.btn--icon-right.icon--down{:href => "#learnmore"} See our work

- case_studies = data.case_studies.select{|id, cs| cs.type == 'case_study' }
- case_studies.sort_by{|id, cs| cs.date }.each do |id, case_study|
  - unless environment == :build && !case_study.published
    %section.section.container.separator-bottom.padding-bottom-none.margin-bottom-60.case-study
      %div.container.container--medium.text-center#learnmore
        %h2= case_study.project
        %p.p--intro= case_study.intro
        = link_to 'Read more', "/case-studies/#{id.dasherize}", class: 'btn btn--primary'

        - if case_study.preview_type == 'browser'
          %div.section.padding-bottom-none.browser-wrapper
            %div.browser.browser--small
              = link_to "/case-studies/#{id.dasherize}" do
                = image_tag case_study.image

        - elsif case_study.preview_type == 'iphone'
          %div.section.padding-bottom-none.browser-wrapper
            %div.browser.browser--small.browser--iphone.margin-auto
              = link_to "/case-studies/#{id.dasherize}" do
                = image_tag case_study.image

= partial "layouts/partials/hireus-cta"
