---
title: #{data.home_page.meta_title}
description: #{data.home_page.meta_description}
---

%section.hero
  %div.fixed--bottom
    %div.section.container.padding-bottom-none
      %h1= data.home_page.headline
      - if !data.home_page.sub_heading.blank?
        %h2= data.home_page.sub_heading

      %div.section.separator-top
        %div.container
          %div.span-5
            %a.btn.btn--primary.btn--icon.btn--icon-right.icon--down{:href => "#aboutme"}= data.home_page.more_btn

          %div.span-7
            %div.span-4--of-12.meta-details
              %strong= data.home_page.skills[0].main
              %em= data.home_page.skills[0].sub
            %div.span-4--of-12.meta-details
              %strong= data.home_page.skills[1].main
              %em= data.home_page.skills[1].sub
            %div.span-4--of-12.meta-details
              %strong= data.home_page.skills[2].main
              %em= data.home_page.skills[2].sub

%section.section.container.container--medium.text-center#aboutme
  %p.p--intro= data.home_page.about_me[0]

  - data.home_page.about_me[1..-1].each do |paragraph|
    %p.p--intro
      %em= paragraph

%div.section.container.text-center.clearfix
  - if data.home_page.show_favorites
    %h3.h5.uppercase.h--seporator
      %span= data.home_page.divider


    %div.container.container--medium
      %ul.nav.flexbox.flexbox--justify.section
        - data.home_page.favorites.each do |favorite|
          %li{:class => "span-#{(12 / data.home_page.favorites.count)}"}
            %p= favorite.title
            %em= favorite.content

- if !data.home_page.quote.nil?
  %section.section.container.container--medium.text-center
    %blockquote.section.quote
      %p= data.home_page.quote.content
      %cite — #{data.home_page.quote.from}
    = link_to "Contact Me", "/contact.html", class: "btn btn--primary", rel: "fade"
