---
title: #{data.home_page.meta_title}
description: #{data.home_page.meta_description}
---

%section.hero

  #enquiry-success.text-center.display-none
    .alert.alert--success
      Thanks for getting in touch. Whilst we look over everything and compose a reply, please read about our process.
  %div.fixed--bottom
    %div.section.container.padding-bottom-none
      %h1 Our process is a constant evolving loop

      %div.section.separator-top

        %p.p--intro Our development process is constantly refined to better their experience. Does our work look good? Hell yes. But what use is a beautiful room without any doors...?

        %div.container
          %div.span-5
            %a.btn.btn--primary.btn--icon.btn--icon-right.icon--down{:href => "#learnmore"} Learn more

%section.section.container.container--medium#learnmore
  = image_tag 'illustrations/process--plan.png', width: 330, class: 'rounded margin-auto'
  %h2.text-center You’re only as good as your research
  %p.p--intro.text-center Before we start to design something beautiful, we take the time to really plan your project, and a good plan begins with a lot of research.
  %div.container.container--vsmall
    %p Not only do we make sure that we understand your company, your brand and it's personality, we research your competition and industry placement to make sure you rise to the top.
    %p From this research, we work with you to craft a beautiful user experience using wireframes, ensuring we communicate all of the personality traits that form your strong brand.

%div.section.container.container--medium.text-center.clearfix#beliefs
  %h3.h5.uppercase.h--seporator
    %span We have two core beliefs here at Simple as Milk
  %blockquote.section.quote
    %p.font-style--normal It's data that makes a beautiful experience and it's personality that makes that experience human.

%section.section.container.container--medium#ideas
  = image_tag 'illustrations/process--making-reality.png', width: 330, class: 'rounded margin-auto'
  %h2.text-center Taking your ideas and making them reality
  %p.p--intro.text-center The build is everything from design to development.
  %div.container.container--vsmall
    %p We take what we learn in our planning stage, including our documentation, wireframes and all the information you provide us with, and we get to work.
    %p With the wireframes in place, we're able to design and develop simultaneously. This makes for a fast and lean process with great results.
    %p Our designers will jump into code, our developers into PSDs and our family will work together, improving each others’ skills. As a result we craft something unique and, most importantly, effective.

%div.section.container.container--medium.text-center.clearfix#testing
  %blockquote.quote
    %p.font-style--normal After some rigorous user testing to ensure the product is as user-friendly as possible, we're onto the best part...

%section.section.container.container--medium#shipping
  = image_tag 'illustrations/process--shipping.png', width: 330, class: 'rounded margin-auto'
  %h2.text-center Crack open the beers. It’s time to ship it!
  %p.p--intro.text-center Scary, yet exciting, this is most interesting part of our work.
  %div.container.container--vsmall
    %p Here we get to see the users actually using our product that we built together as a team.
    %p Each interaction they take is tracked and can be used in the near future to improve an already great product.

%div.section.container.container--medium.text-center.clearfix#sexual
  %blockquote.quote
    %p.font-style--normal We may have completed the product but now it’s time to prove how sexual it really is…

%section.section.container.container--medium#shipped
  = image_tag 'illustrations/process--why-stop-here.png', width: 330, class: 'rounded margin-auto'
  %h2.text-center Who says the process has to end here?
  %p.p--intro.text-center The shipped product is not the end of the process and we never leave our clients hanging.
  %div.container.container--vsmall
    %p With people inside the application and using it on a daily basis, we can track them, collect data and prepare to use this data to improve upon this product that we've produced.
    %p Taking the data we collected from users, A/B split test results and feedback, we work closely with our clients to iterate and improve.
    %p We then take these results and work on improving the user experience even further, adding and removing features where needed, and refining the design.

= partial "layouts/partials/contact-me-cta"
